#navbar {
  position: fixed;
  top: 0;
  left: 0;
  min-width: 290px;
  width: 380px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  border-right: 2px solid rgba(0, 0, 0, 0.5);
  height: 100vh;
}

#navbar ul {
  height: 88%;
  padding: 0;
  overflow-y: auto;
  overflow-x: hidden;
}
ul.list-group {
  width: 100%;
}
header h1 {
  margin: 0;
  font-size: 1.8rem;
  padding: 1rem 0;
}
main#main-doc {
  position: relative;
  top: 0;
  left: 380px;
  width: calc(100vw - 380px);
  padding-top: 30px;
}
section {
  padding: 0 15px 10px 15px;
}
section article {
  margin: 15px;
}
section.main-section > header {
  font-size: 1.8rem;
}

@media (max-width: 800px) {
  #navbar {
    width: 280px;
  }
  main#main-doc {
    width: calc(100vw - 280px);
    left: 280px;
  }
}
