#navbar {
  position: fixed;
  top: 0;
  left: 0;
  min-width: 290px;
  width: 380px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  border-right: 2px solid rgba(0, 0, 0, 0.5);
  height: 100vh;
  background-color: #eee;
}

#navbar ul {
  height: 88%;
  padding: 0;
  overflow-y: auto;
  overflow-x: hidden;
}
ul.list-group {
  width: 100%;
}
li.list-group-item,
a {
  background-color: #eee;
}
li.list-group-item:hover {
  animation-name: hover;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
  /* transition: linear;
  transition-duration: 0.5s;
  transform: scale(1.03) translate(-2px, 0); */
}
header h1 {
  margin: 0;
  font-size: 1.8rem;
  padding: 1rem 0;
}
main#main-doc {
  position: relative;
  top: 0;
  left: 380px;
  /* might be unnecessary */
  width: calc(100vw - 380px);
  padding-top: 30px;
  margin: 0 2rem;
  max-width: 1000px;
}
section {
  padding: 0 15px 10px 15px;
}
section article {
  margin: 15px;
}
section.main-section > header {
  font-size: 1.8rem;
}

code {
  display: block;
  white-space: pre;
  padding: 15px;
  margin: 10px 10px 0 10px;
  text-align: left;
  line-height: 2;
}
@media (max-width: 800px) {
  #navbar {
    width: 280px;
  }
  main#main-doc {
    width: calc(100vw - 280px);
    left: 280px;
  }
}

@keyframes hover {
  100% {
    transform: scale(1.02) translate(-2px, 0);
  }
}
